.clipboard-button {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  float: right;
  right: 0;
  padding: 0.4rem 0.6rem;
  margin: 0.5rem;
  font-size: 0.85rem;
  color: var(--gray);
  border-color: var(--dark);
  background-color: var(--light);
  border: 1px solid;
  border-radius: 5px;
  opacity: 0;
  transition: all 0.2s ease;

  & > svg {
    width: 14px;
    height: 14px;
    stroke: var(--gray);
  }

  & > span {
    font-size: 0.8rem;
    line-height: 1;
  }

  &:hover {
    cursor: pointer;
    border-color: var(--secondary);
    color: var(--secondary);

    & > svg {
      stroke: var(--secondary);
    }
  }

  &.copied {
    border-color: #22c55e;
    color: #22c55e;

    & > svg {
      stroke: #22c55e;
    }
  }

  &:focus {
    outline: 0;
  }
}

pre {
  &:hover > .clipboard-button {
    opacity: 1;
    transition: all 0.2s ease;
  }
}
